@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;

}

#ads {
  margin: 30px 0 30px 0;

}

#ads .card {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;

}

#ads .card-notify-year {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #ff4444;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}


#ads .card-detail-badge {
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}



#ads .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}

#ads .card-image-overlay {
  font-size: 20px;

}


#ads .card-image-overlay span {
  display: inline-block;
}


#ads .ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #e6de08;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: #000;
  overflow: hidden;
  position: relative;
  background-color: #e6de08;
}

#ads .ad-btn:hover {
  background-color: #e6de08;
  color: #1e1717;
  border: 2px solid #e6de08;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#ads .ad-title h5 {
  text-transform: uppercase;
  font-size: 18px;
}

.logo-header {
  background: linear-gradient(rgba(62, 63, 64, 0.6), rgba(62, 63, 64, 0.6)), url("/img/1.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Mont-serra', sans-serif;
  height: 100vh;
}

.logo-header h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 0.2em auto;
}

.logo-header p {
  font-size: 1.15rem;
  width: 80%;
  margin: 0 auto 2em auto;
}

.logo-header .logo {
  margin: 0 auto 1em auto;
}

.logo-header .btn {
  padding: 10px 26px;
  background-color: #313131;
  color: #FFF;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  border: solid 2px #313131;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.logo-header .btn:hover {
  color: #FFF;
  background-color: #1f69ff;
  border-color: #1f69ff;
}

@media (min-width: 992px) {
  .logo-header {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo-header h1 {
    font-size: 4rem;
  }

  .logo-header p {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .logo-header h1 {
    font-size: 2.4rem;
  }
}

.footer {
  background-color: #08202e;
  padding-top: 80px;
  color: #636e74;
  font-weight: 400;
  font-size: 17px;
}

.footer-line {
  border-color: #152e3d;
}

.footer-widget {
  padding-bottom: 50px;
}

.footer-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 44px;
  color: #fff;
}

.footer-widget ul li a {
  text-transform: capitalize;
  font-size: 17px;
  color: #636e74;
  display: block;
  font-weight: 600;
}

.footer-widget ul li a:hover {
  color: #fff;
}

.newsletter-form {
  padding-top: 15px;
}

.newsletter-form .form-control {
  background-color: #1e2e38;
  border-color: #1e2e38;
}

.newsletter-form .form-control:focus {
  color: #fff;
}

.newsletter-form input::-webkit-input-placeholder {
  color: #fff !important;
}

.newsletter-form input:focus::-webkit-input-placeholder {
  color: #fff !important;
}


.tiny-footer {
  font-size: 14px;
  padding: 14px 0px;
  font-weight: 600;
  background-color: transparent;
  border-top: 1px solid #152e3d;
  color: #888d90;
  line-height: 1;
}

.form-popup {
  position: 100%;
  border: 3px solid #f1f1f1;
  opacity: 1;
}

.form-container {
  width: 100%;
  left: 50%;
  padding: 20px;
  background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: rgb(0, 0, 0);
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #000000;
}